.login-page {
    --background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    
  }
  
  .login-container {
    height: 90vh;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    //align-items: center;
    //text-align: center;
  }
  
  .logo {
    width: 150px;
    margin: 20px auto;
    //background: #180ad2;
    //color:#180ad2 ;
  }
  
  .login-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
  }
  
  ion-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
  }
  
  ion-item {
    --background: transparent;
    --border-color: #ccc;
    margin-bottom: 10px;
  }
  
  .login-button {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    --background: #180ad2;
    --background-hover: #180ad2;
  }
  